.pathListWrapper {
  max-height: 400px;

  #d {
    width: 300px;
    height: 60px;
  }

  li {
    background-color: #eee;
    cursor: default;
    list-style-position: inside;
    padding: 5px 10px;
    &:hover {
        background-color: #ffff99;}
    &.selected {
        background-color: #ffff99;
    }
    &.invalid {
        color: #ff0000;
    }
  }

  .dWrapper {
    ::-webkit-scrollbar {
        width: 0.5em;
    }
  }

  textarea {
    min-width: 100%;
  }
  
  .btnWrapper {
    button {
      &:hover {
          background-color: #ffff99;
      }
    }
  }
  ol {
    border: 1px solid #c9c9ca;
    box-shadow: 0 0 2px #888;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;

    li:hover {
        background-color: #ffff99;
    }
    li.selected {
        background-color: #ffff99;
    }
  }
}