.toolsWrapper{

  margin:10px;
  .form-control{
    padding:2px 2px;
  }

  button{
    margin:5px;
  }
  .btn-primary{
    background-color: #006674;   
  }
  .btn-primary:hover{
    background-color:#ffff99;
    color:#555;
  }
}